<?xml version="1.0"?>
<robot name="omni" xmlns:xacro="http://ros.org/wiki/xacro">
    
    <xacro:include filename="$(find omni_description)/urdf/sensors/_d435.urdf.xacro"/>

    <xacro:property name="base_distance_from_ground" value="0.08"/>
    <xacro:property name="base_len" value="0.35"/>
    <xacro:property name="base_width" value="0.35"/>
    <xacro:property name="d435_z" value="0.21"/>
    <xacro:property name="d435_x" value="0.115"/>
    <xacro:property name="lidar_z" value="0.34"/>

    <link name="base_footprint"/>
    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 ${base_distance_from_ground}" rpy="0 0 0"/>
    </joint>

    <link name="base_link">
    </link>
    
    <!--CAM D435-->
    <joint name="lidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="camera_link"/>
        <origin xyz="${d435_x} 0 ${d435_z}" rpy="0 0 0"/>
    </joint>

    <link name="camera_link">
    </link>

    <!--LIDAR-->
    <joint name="lidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="laser"/>
        <origin xyz="0 0 ${lidar_z}" rpy="0 0 0"/>
    </joint>

    <link name="laser">
    </link>

</robot>
