<launch>
    <!--TF-->
    <include file="$(find omni_description)/launch/urdf_visual.launch"/>
    
    <!--bringup camera-->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch"/>
    
    <!--bringup lidar-->
    <include file="$(find urg_node)/launch/urg_lidar.launch"/>
</launch>
