<launch>
    <!--TF-->
    <include file="$(find omni_description)/launch/urdf_visual.launch"/>
    
    <!--bringup camera-->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch"/>
    
    <!--bringup lidar-->
    <include file="$(find urg_node)/launch/urg_lidar.launch"/>

    <!-- bringup rosserial -->
    <include file="$(find omni_bringup)/launch/include/rosserial.launch"/>

    <!-- bringup publish raw_odom -->
    <include file="$(find omni_robot)/launch/omni_odom.launch"/>
    
    <!--EKF-->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization"> 
        <remap from="odometry/filtered" to="odom" />
        <rosparam command="load" file="$(find omni_bringup)/param/ekf/robot_localization.yaml" />
    </node>

</launch>
