<launch>
  <!-- Arguments -->
  <arg name="configuration_basename" default="wheel.lua"/>

  <!-- cartographer_node -->
  <node pkg="cartographer_ros" type="cartographer_node" name="cartographer_node" 
        args="-configuration_directory $(find omni_slam)/config
              -configuration_basename $(arg configuration_basename)"
        output="screen">
    <remap from="/imu" to="/imu/raw"/>
    <!-- <remap from="/odom" to="/raw_odom"/> -->
  </node>

  <!-- cartographer_occupancy_grid_node -->
  <node pkg="cartographer_ros" type="cartographer_occupancy_grid_node"
        name="cartographer_occupancy_grid_node" 
        args="-resolution 0.03" />
</launch>
