<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find omni_navigation)/maps/map1.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <!-- omni -->
  <include file="$(find omni_bringup)/launch/omni_bringup.launch">
  </include>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find omni_navigation)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find omni_navigation)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find omni_navigation)/rviz/omni_navigation.rviz"/>
  </group>
</launch>
